.newNoteListBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 156px;
    height: 204px;
    border-radius: 9px;
}

.topicText {
    font-size: 16px;
}