.backgroundBlock {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-x: auto;
}

.mainContent {
    box-sizing: border-box;
    padding: 24px 220px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (min-width: 0px) and (max-width: 920px) {
    .mainContent {
        padding: 24px 80px;
        width: 920px;
    }
}