.nodeListBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.nodeList {
    display: flex;
    flex-direction: column;
    width: 156px;
    height: 204px;
    margin: 0px 12px 64px 12px;
    border-radius: 9px;
}

.nodeListSmall {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 48%;
    height: 60px;
    margin: 0px 8px 32px 8px;
    border-radius: 9px;
}

