.removeLinkStyle:link{
  text-decoration: none;
}
.removeLinkStyle:visited {
  text-decoration: none;
}
.removeLinkStyle:hover {
  text-decoration: none;
}
.removeLinkStyle:active {
  text-decoration: none;
}