.nodeList {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 18px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}